.scroll-up__icon {
  font-size: 1.5rem;
  color: var(--container-color);
}
.scroll-up {
  position: fixed;
  right: 2.5rem;
  bottom: -20%;
  background-color: var(--title-color);
  opacity: 0.8;
  padding: 0.3rem 0.5rem;
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
}

.scroll-up:hover {
  background-color: var(--title-color-dark);
}

.show-scroll {
  bottom: 3rem;
}

/* =----- Break Points---- */


@media screen and (max-width: 768px) {
    .scroll-up {
      right: 1.5rem;
      padding: 0.25rem 0.4rem;
    }
    .scroll-up__icon {
      font-size: 1.25rem;
    }
  }
@media screen and (max-width: 768px) {
  .scroll-up {
   bottom: 4rem;
  }
  
}




@media screen and (max-width: 350px) {
  .scroll-up {
    right:1rem;
  }
}
